//@ts-check
/**
 * rename this file to 'credentials.js' to use it.
 * start unit-tests with 'npm test'.
 */
module.exports = {
    /**
     * @return {Object} netatmo credentials.
     */
    getCredentials: function () {
        const auth = {
            "client_id": "myClientId", // your credentials here!
            "client_secret": "myClientSecret",
            "username": "myEmail",
            "password": "myPassord",
            "scope": ""
        };
        return auth;
    },
    /**
     * @return {Object} devices and ids for unit tests
     */
    getTestParameters: function () {
        const testParameters = {
            weatherDeviceId: "70:xx:xx:xx:xx:xx", // your weather station's device_id or null, if not available
            energyDeviceId: "09:xx:xx:xx:xx:xx", // your energy's device_id or null, if not available
            energyRelayDeviceId: "70:xx:xx:xx:xx:xx", // your energy's relay device_id (NAPlug) or null, if not available
            roomId: "1xxxxxxxxx", // your room_id or null, if not available
        };
        return testParameters;
    },
};