//@ts-check
/**
 * rename this file to 'credentials.js' to use it.
 * start unit-tests with 'npm test'.
 */
module.exports = {
    /**
     * @return {Object} netatmo credentials.
     */
    getCredentials: function () {
        const auth = {
            "client_id": "myClientId", // your credentials here!
            "client_secret": "myClientSecret",
            "username": "myEmail",
            "password": "myPassord",
            "scope": ""
        };
        return auth;
    }
};