//@ts-check
/**
 * rename this file to 'credentials.js' to use it.
 * start unit-tests with 'npm test'.
 */
module.exports = {
    /**
     * @return {Object} netatmo credentials.
     */
    getCredentials: function () {
        const auth = {
            "client_id": "myClientId", // your credentials here!
            "client_secret": "myClientSecret",
            "username": "myEmail",
            "password": "myPassord",
            "scope": ""
        };
        return auth;
    },
    /**
     * @return {String | null} your weather station's device_id or null, if not available
     */
    getWeatherDeviceId: function () {
        return "70:xx:xx:xx:x:x";
    },
    /**
     * @return {String | null} your energy's device_id or null, if not available
     */
    getEnergyDeviceId: function () {
        return "09:xx:xx:xx:x:x";
    },
    /**
     * @return {String | null} your room_id or null, if not available
     */
    getRoomId: function () {
        return "1XXXXXXXXX";
    },
};